SECRET_KEY=your-secret-key-here
DEBUG=True
DB_USER=shortener_user
DB_PASSWORD=secret_postgres_pass
DB_NAME_SHARD1=shard_1
DB_NAME_SHARD2=shard_2
DB_NAME_SHARD3=shard_3
DB_PORT_SHARD1=5433
DB_PORT_SHARD2=5434
DB_PORT_SHARD3=5435
DB_HOST=localhost
REDIS_URL=redis://localhost:6379/1
